<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Curso Angular JS</title>

    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css" />
    <link rel="shortcut icon" href="assets\favicon.ico">
    
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
            crossorigin="anonymous"></script>
    <script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
    <script src="node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
    <script src="node_modules\angular\angular.min.js"></script>
    <script src="node_modules\angular-route\angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.7/mask.min.js"></script>

    <script src="curso-app.js"></script>
    <script src="curso-routers.js"></script>

    <script src="curso-service.js"></script>

    <script src="cadastro/cadastro-controller.js"></script>
    <script src="home/home-controller.js"></script>
    <script src="components/component-alert.js"></script>

    <script>
        angular.module('app').controller('appController', function(){
            vm = this;
            vm.ola = "Curso Angular JS";
            vm.teste = "Teste";
            console.log(this.ola)
        })
    </script>
</head>
<body>
    <script>
        angular.module('app').controller('MenuController', MenuController);
        MenuController.$inject = ['$location'];
            function MenuController($location){
                vm = this;

                vm.itensMenu = [
                    {title: 'Home', class: 'nav-link active'},
                    {title: 'Cadastro', class: 'nav-link'}
                ]

                vm.navegar = function(rota, array){
                    angular.forEach(array, function(item){
                        if(item.title == rota){
                            item.class = 'nav-link active';
                        }else{
                            item.class = 'nav-link'
                        }
                    })
                    $location.path(rota)
                }
            }
    </script>
    <div class="container-fluid" style="margin-top: 20px">
        <div ng-controller="MenuController as vm">
            <ul class="nav nav-tabs">
                <li class="nav-item" ng-repeat="item in vm.itensMenu">
                <a ng-class="item.class" ng-click="vm.navegar(item.title, vm.itensMenu)">{{item.title}}</a>
                </li>
            </ul>
        </div>

        <div ng-view></div> 

    </div>
</body>
</html>