<div class="container-fluid" ng-init="vm.init()">

  <br>
  <div class="container-fluid">
    <alerta_para_usuario msg="'A conexão com o Banco de Dados Falhou!'" tipo="'danger'" ng-if="vm.errorBd"></alerta_para_usuario>
  </div>

  <label for="exampleDataList" class="form-label">Filtro de Pesquisa</label>
  <input class="form-control" list="exampleDataList" ng-model="vm.filterPesquisa" placeholder="Digite para procurar...">

  <table class="table table-hover" ng-if="vm.clientes">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Data Nascimento</th>
        <th scope="col">CPF</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.clientes | filter: vm.filterPesquisa">
        <th scope="row">{{item.id}}</th>
        <td>{{item.nome}} {{item.sobrenome}}</td>
        <td>{{item.dataNasc}}</td>
        <td>{{item.cpf}}</td>
        <td>
          <button type="button" class="btn btn-outline-warning" ng-click="vm.editar(item.id)">Editar</button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-danger" ng-click="vm.deletar(item.id)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>

  </br>
  <button type="button" class="btn btn-primary" ng-click="vm.listarClientes()">Listar</button>
  </br>

</div>