<div class="container-fluid" ng-init="vm.init()" style="margin-top: 20px;">

  <div class="card">
    <div class="card-header">
      Informações do usuario
    </div>
    <div class="card-body">

      <form class="row g-3">
        <div class="col-md-12" ng-if="vm.show">
          <label for="id">ID:</label>
          <input type="text" class="form-control form-control-lg" id="id" ng-model="vm.cliente.id" placeholder="ID"
            disabled>
        </div>
        <div class="col-md-3" style="margin-top: 20px;">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" id="nome" ng-model="vm.cliente.nome" placeholder="Nome cliente">
        </div>
        <div class="col-md-9" style="margin-top: 20px;">
          <label for="nome">Sobrenome:</label>
          <input type="text" class="form-control" id="sobrenome" ng-model="vm.cliente.sobrenome" placeholder="Sobrenome cliente">
        </div>
        <div class="col-md-3" style="margin-top: 20px;">
          <label for="rg">Data Nascimento:</label>
          <input type="text" class="form-control" id="dataNasc" ng-model="vm.cliente.dataNasc" ui-mask="99/99/9999">
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
          <label for="rg">Estado de Origem:</label>
          <input type="text" class="form-control" id="estOrigem" ng-model="vm.cliente.estOrigem" placeholder="Estado de Origem">
        </div>
        <div class="col-md-5" style="margin-top: 20px;">
          <label for="rg">CPF:</label>
          <input type="text" class="form-control" id="cpf" ng-model="vm.cliente.cpf" ui-mask="999.999.999-99" required>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
          <label for="rg">Telefone:</label>
          <input type="text" class="form-control" id="telefone" ng-model="vm.cliente.telefone" ui-mask="(99) 9 9999-9999" >
        </div>
        <div class="col-md-8" style="margin-top: 20px;">
          <label for="rg">Email:</label>
          <input type="text" class="form-control" id="email" ng-model="vm.cliente.email" placeholder="Email">
        </div>
      </form>

    </div>
  </div>

  <div class="card" style="margin-top: 20px;">
    <div class="card-header">Endereço</div>
    <div class="card-body">

      <form class="row g-3">
        <div class="col-md-12 input-group mb-3">
          <input type="text" class="form-control"  id="cep" ng-model="vm.cliente.endereco.cep" ui-mask="99999-999">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" ng-click="vm.buscarCEP(vm.cliente.endereco.cep)">Validar</button>
        </div>
        
        <div class="col-md-9">
          <label class="form-label">Logradouro</label>
          <input type="email" class="form-control" id="inputEmail4" id="logradouro" ng-model="vm.cliente.endereco.logradouro">
        </div>
        <div class="col-md-3">
          <label class="form-label">Nº</label>
          <input type="text" class="form-control" id="numero" ng-model="vm.cliente.endereco.numero_casa">
        </div>
        <div class="col-md-6" style="margin-top: 10px;">
          <label class="form-label">Complmento</label>
          <input type="text" class="form-control" id="complemento" id="complemento" ng-model="vm.cliente.endereco.complemento">
        </div>
        <div class="col-6"  style="margin-top: 10px;">
          <label class="form-label">Bairro</label>
          <input type="text" class="form-control" placeholder="1234 Main St" id="bairro" ng-model="vm.cliente.endereco.bairro">
        </div>
        <div class="col-md-9"  style="margin-top: 10px;">
          <label class="form-label">Estado</label>
          <input type="text" class="form-control" id="estado" ng-model="vm.cliente.endereco.localidade">
        </div>
        <div class="col-md-3"  style="margin-top: 10px;">
          <label class="form-label">UF</label>
          <input type="text" class="form-control" id="estado" ng-model="vm.cliente.endereco.uf">
        </div>

    </div>
  </div>

  <button type="button" class="{{vm.tipoBotao}}" ng-click="vm.cadastrar()">{{vm.textoBotao}}</button>
  <button type="button" class="btn btn-secondary" ng-click="vm.limpar()">Limpar</button>
</div>